*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
.header{
  min-height: 100vh;
  width: 100%;
  background-image: url(img/backgr.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
.diri{
  padding-top: 5px;
  left: 20%;
  height: 85vh;
  width: 75%;
  position: relative;
  display: block;
}


nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

nav img{
  width: 100px;
}


.text-box{
  width: 35%;
  color: white;
  position: absolute;
  top: 50%;
  padding-left: 100px;
  text-align: left;
}

.text-box h1{
  font-size: 30px;
  font-weight: 700;
  transition: transform 1s;
  cursor: pointer;
}

.text-box h1:hover{
  transform: translateX(-5px);
}

.text-box p{
  margin: 10px 0 20px;
  font-size: 14px;
  color: white;
  transition: transform 1s;
  cursor: pointer;
}

.text-box p:hover{
  transform: translateX(5px);
}

.hero-btn{
  display: inline-block;
  text-decoration: none;
  color: white;
  border: 1px solid;
  border-radius: 100px;
  padding: 12px 70px;
  font-size: 13px;
  font-weight: 600;
  background: transparent;
  position: relative;
  transition: transform 1s;

}

.hero-btn:hover{
  color: black;
  border: 1px solid white;
  background: white;
  transform: translateX(7px);
  transition: 1s;
}

@media(max-width: 700px){
  .diri{
   display: none;
  }
  .text-box{
    width: 80%;
    transform: translate(-20%,-10%);
  }
}
